{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Index
{% endblock %}

{% block head %}
{{ super() }}
<link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
<style>
</style>
{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Hello, {% if name %}{{ name }}{% else %}Stranger{% endif %}!</h1>
    {% if not known %}
    <p>Pleased to meet you!</p>
    {% else %}
    <p>Happy to see you again!</p>
    {% endif %}
</div>
<p>The local date and time is {{ moment(current_time).format('LLL') }}.</p>
<p>That was {{ moment(current_time).fromNow(refresh=True) }}.</p>
{{ wtf.quick_form(form) }}
<!-- <form method="POST">
    {{ form.hidden_tag() }} {{ form.name.label(for='my-text-field') }} {{ form.name(id='my-text-field') }} {{ form.submit(class='btn') }}
</form> -->
{% endblock %}